.first-page{
    width: 100%;
    height: 100vh;
}
.first-page .img{
    background: url("New folder/Black Bold Text Onboarding Page Wireframe Website UI Desktop Prototype.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.first-page .img::before{
    background:transparent;
    background-color: rgba(91,82,71, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
.first-page .center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.center .title{
    font-size: 100px;
    font-weight: 600;
    color: white;
    margin-bottom: 3px;
}
.center .sub{
    font-size: 75px;
    font-weight: 600;
    color: white;
    margin-bottom: 3px;
}
.center .work{
    font-size: 75px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
.center button{
    font-size: 15px;
    font-weight: 600;
    padding: 8px 35px;
    border-radius: 25px;
    border: solid transparent 3px;
    color: var(--maint-color);
    background-color: white;
    cursor: pointer;
    transition: all 1s ease;
}
.center button:hover{
    scale: 2;
    background-color: var(--maint-color);
    color: white;
}
